# Basic setup
enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false
automatically-unhide-macos-hidden-apps = false
start-at-login = true
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
exec-on-workspace-change = [
    '/bin/bash',
    '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]
after-startup-command = [
  'exec-and-forget borders',
  'exec-and-forget sketchybar'
]
[key-mapping]
preset = 'qwerty'

[gaps.inner]
horizontal = 15
vertical =   15

[gaps.outer]
left =       10
bottom =     10
top =        10
right =      10

# Primary keybinds
[mode.main.binding]
cmd-h = 'focus --boundaries-action wrap-around-the-workspace left'
cmd-j = 'focus --boundaries-action wrap-around-the-workspace down'
cmd-k = 'focus --boundaries-action wrap-around-the-workspace up'
cmd-l = 'focus --boundaries-action wrap-around-the-workspace right'
cmd-shift-h = 'move left'
cmd-shift-j = 'move down'
cmd-shift-k = 'move up'
cmd-shift-l = 'move right'
cmd-1 = 'workspace 1'
cmd-2 = 'workspace 2'
cmd-3 = 'workspace 3'
cmd-4 = 'workspace 4'
cmd-5 = 'workspace 5'
cmd-6 = 'workspace 6'
cmd-7 = 'workspace 7'
cmd-8 = 'workspace 8'
cmd-9 = 'workspace 9'
cmd-0 = 'workspace 10'
cmd-shift-1 = 'move-node-to-workspace 1'
cmd-shift-2 = 'move-node-to-workspace 2'
cmd-shift-3 = 'move-node-to-workspace 3'
cmd-shift-4 = 'move-node-to-workspace 4'
cmd-shift-5 = 'move-node-to-workspace 5'
cmd-shift-6 = 'move-node-to-workspace 6'
cmd-shift-7 = 'move-node-to-workspace 7'
cmd-shift-8 = 'move-node-to-workspace 8'
cmd-shift-9 = 'move-node-to-workspace 9'
cmd-shift-0 = 'move-node-to-workspace 10'
cmd-shift-space = 'layout floating tiling'
cmd-q = 'close'

# Window rules
[[on-window-detected]]
if.app-id = 'io.beekeeperstudio.desktop'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'ch.protonvpn.mac'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'com.exafunction.windsurf'
run = 'move-node-to-workspace 2'

[[on-window-detected]]
if.app-id = 'com.brave.Browser'
run = 'move-node-to-workspace 3'

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = 'move-node-to-workspace 4'

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = 'move-node-to-workspace 4'

[[on-window-detected]]
if.app-id = 'com.apple.mail'
run = 'move-node-to-workspace 5'

[[on-window-detected]]
if.app-id = 'com.apple.iCal'
run = 'move-node-to-workspace 5'

[[on-window-detected]]
if.app-id = 'com.googlecode.iterm2'
run = ['layout floating']

# Consider using 'join-with' command as a 'split' replacement if you want to enable normalizations
# alt-c = 'split horizontal'
# alt-v = 'split vertical'
# alt-f = 'fullscreen'
# alt-s = 'layout v_accordion'
# alt-w = 'layout h_accordion'
# alt-e = 'layout tiles horizontal vertical'

# Not supported, because this command is redundant in AeroSpace mental model.
# See: https://nikitabobko.github.io/AeroSpace/guide#floating-windows
# alt-space = 'focus toggle_tiling_floating'

# `focus parent`/`focus child` are not yet supported, and it's not clear whether they
# should be supported at all https://github.com/nikitabobko/AeroSpace/issues/5
# alt-a = 'focus parent'

# alt-r = 'mode resize'
# [mode.resize.binding]
# h = 'resize width -50'
# j = 'resize height +50'
# k = 'resize height -50'
# l = 'resize width +50'
# enter = 'mode main'
# esc = 'mode main'
